* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin: 20px 0;
  display: flex;
}

nav {
  width: 100%;
  padding: 15px 0;
  border-top: 0.5px solid #848282;
  border-bottom: 0.5px solid #848282;

}

ul {
  text-align: center;
}

li {
  padding: 0 20px;
  list-style: none;
  text-align: center;
  display: inline;
}

main {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin: 50px auto;
  justify-content: center;
  align-items: center;
}

.x {
}

.a {
  width: 200px;
  height: 200px;
  background-color:#e6ffe9 ;
}

.b {
  width: 200px;
  height: 200px;
  background-color:#cbffd3 ;
}

.c {
  width: 200px;
  height: 200px;
  background-color:#aeffbd ;
}

.d {
  width: 200px;
  height: 200px;
  background-color:#93ffab ;
}

.e {
  width: 200px;
  height: 200px;
  background-color:#f3ffd8 ;
}

.f {
  width: 200px;
  height: 200px;
  background-color:#edffbe ;
}

.g {
  width: 200px;
  height: 200px;
  background-color:#e9ffa5 ;
}

.h {
  width: 200px;
  height: 200px;
  background-color:#e4ff8d ;
}

.i {
  width: 200px;
  height: 200px;
  background-color:#d9e5ff ;
}

.j {
  width: 200px;
  height: 200px;
  background-color:#bad3ff ;
}

.k{
  width: 200px;
  height: 200px;
  background-color:#a4c6ff ;
}

.l {
  width: 200px;
  height: 200px;
  background-color:#8eb8ff ;
}




footer {
  color: white;
  height: 120px;
  line-height: 120px;
  width: 100%;
  background-color: #848282;
  text-align: center;
}
